.places {
    display: flex;
    flex-direction: column;
    padding: 92px 0;
    width: calc(100% - 96px);
    max-width: 984px;
}

@media screen and (max-width: 768px) {
    .places {
        width: calc(100% - 48px);
    }
}

@media screen and (max-width: 420px) {
    .places {
        width: 100%;
        padding: 64px 0;
    }
}
