.footer {
    width: calc(100% - 96px);
    max-width: 1184px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        width: calc(100% - 32px);
    }
}