.cover__heading {
    color: #FFFFFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 106%;
    max-width: 560px;
    margin: 0;
    padding-bottom: 32px;
    text-decoration: none;
    z-index: 100;
}

@media screen and (max-width: 600px) {
    .cover__heading {
        font-size: 32px;
        line-height: 35px;
        padding-bottom: 16px;
        margin: 0 40px;
        max-width: 288px;
    }
}