.place__website {
    margin-bottom:  48px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 500px) {
    .place__website {
        margin-bottom: 32px;
        width: 100%;
    }
}